{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="contact">
            <br><br><br><br><br><br>
            <br><br>
                <br><br>
            <div class="phoneNumber">

                <h2>Phone number </h2>

            </div>

             <div class = "open-hours">
                <h3>Open Hours</h3>
                {{ include('open_hours_table.html.twig') }} 
            </div>

            <div class="address">
            
                <h2>Address</h2>

            </div>
        </div>
    </div>
{% endblock %}