
{% block body %}
    <turbo-frame id="contact_frame">
        <div class="contact">
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br>\contact<br>
        </div>
    </turbno-frame>
{% endblock %}