{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="contact">
            <br><br><br><br><br><br>
            <br>{{ message }}<br>
            <h1>Kontakt</h1>
                            
            <strong>Phone number: +48 697 160 121</strong>
				<br/><br/>
			<strong>Czynne w godzinach: 6:00-15:30</strong>
				<br/><br/>
			<strong>Adres: Kłodzko, Ul.Hołdu Pruskiego</strong>
        </div>
    </div>
{% endblock %}