{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="contact">
            <br><br><br><br><br><br>
            <br><br>
                <br><br>
            <div class="phoneNumber">

                <h2>Phone number </h2>

            </div>

             <div class = "open-hours">
                <h3>Open Hours</h3>
                <table class = 'days-open-hours'>
                {% for openHours in daysOpenHours %}
                    <tr>
                        <th>{{ openHours.getStringDay() }} </th>
                        {% if openHours.isClosed() == false %}
                        <th> {{ openHours.getStringStartDate() }} - </th>
                        <th> {{ openHours.getStringEndDate() }} </th>
                        {% else %}
                        <th> closed </th>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
            </div>

            <div class="address">
            
                <h2>Address</h2>

            </div>
        </div>
    </div>
{% endblock %}