{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="contact">
            <h2>Kontakt</h2><br><br>
            <div class="phone">
                <h4>Numer telefonu </h4>
                <h5>+48 {{ contact.getPhone }}</h5>
            </div>
            <br><br>
             <div class="open-hours">
                <h4>Godziny otwarcia</h4>
                {{ include('open_hours_table.html.twig') }} 
            </div>
            <br><br>
            <div class="address">
                <h4>Adres</h4>
                    <br>
                    <h5>{{ contact.getCity|capitalize }}, ulica {{ contact.getStreet|capitalize }}</h5>
                    <br>
                <div class='google-map'>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d532517.63793965!2d16.454862496120167!3d50.34396386673641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470e177aba9e3981%3A0xca294271fcc976bd!2swypozyczalnia%20stroj%C3%B3w%20karnawa%C5%82owych!5e0!3m2!1spl!2spl!4v1708956509009!5m2!1spl!2spl" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>  
            </div>
            <br>
        </div>
    </div>
{% endblock %}