{% extends 'base.html.twig' %}

{% block body %}

        <div class="gallery">
        
            <br><br><br><br><br><br>
            <br>{{ message }}<br>

            <h2>Gallery</h2>

            <div class="photo">
				<table>			
					<tr>
						<td>				
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/1.jpg"/>
							</div>				
						</td>						
						<td>		
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/2.jpg"/>
							</div>						
						</td>		
						<div style="clear: both;"></div>		
					</tr>	
					<tr>		
						<td>				
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/3.jpg"/>
							</div>						
						</td>							
						<td>
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/4.jpg"/>
							</div>
						</td>					
						<div style="clear: both;"></div>				
					</tr>			
					<tr>				
						<td>					
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/5.jpg"/>
							</div>								
					    </td>								
						<td>
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/6.jpg"/>
							</div>
						</td>		
						<div style="clear: both;"></div>			
					</tr>			
					<tr>			
						<td>					
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/7.jpg"/>
							</div>								
						</td>								
						<td>
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/8.jpg"/>
							</div>
        				</td>
						<div style="clear: both;"></div>				
					</tr>		
					<tr>
			    		<td>		
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/9.jpg"/>
							</div>									
						</td>						
						<td>
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/10.jpg"/>
							</div>
						</td>
						<div style="clear: both;"></div>			
					</tr>
					<tr>				
			    		<td>					
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/11.jpg"/>
							</div>				
						</td>								
						<td>
							<div style="width: 300px; height: 532px; float: left; padding: 20px; border: 3px solid #e0e0e0;">
								<img src="photo/12.jpg"/>
							</div>
						</td>				
						<div style="clear: both;"></div>					
					</tr>			
				</table>					
			</div>

        </div>
{% endblock %}