
{% block body %}
    <turbo-frame id="gallery_frame">
        <div class="gallery">
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br>\gallery<br>
        </div>
    </turbno-frame>
{% endblock %}