{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <h2>Galeria</h2>
		<br>
        <div class="gallery">
			<div class='photo-row'>					
				<div class='photo'>
					<img src="/photo/1.jpg"/>
				</div>				
				<div class='photo'>
					<img src="/photo/2.jpg"/>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class='photo-row'>					
				<div class='photo'>
					<img src="/photo/3.jpg"/>
				</div>				
				<div class='photo'>
					<img src="/photo/4.jpg"/>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class='photo-row'>					
				<div class='photo'>
					<img src="/photo/5.jpg"/>
				</div>				
				<div class='photo'>
					<img src="/photo/6.jpg"/>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class='photo-row'>					
				<div class='photo'>
					<img src="/photo/7.jpg"/>
				</div>				
				<div class='photo'>
					<img src="/photo/8.jpg"/>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class='photo-row'>					
				<div class='photo'>
					<img src="/photo/9.jpg"/>
				</div>				
				<div class='photo'>
					<img src="/photo/10.jpg"/>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class='photo-row'>					
				<div class='photo'>
					<img src="/photo/11.jpg"/>
				</div>				
				<div class='photo'>
					<img src="/photo/12.jpg"/>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>							
    </div>
{% endblock %}