{% extends 'base.html.twig' %}

{% block body %}
    <div id = "content">
        <div class="home">
            <br><br><br><br><br><br>
            <br>{{ message }}<br>
            <h2>Welcome!</h2>
			<br><br>
            <div class="desc">
                <b>This is not on-line rental service</b>
                <br><br>

                This website has been placed in Your hands for geting most important information about carnival rental at <strong>{{ contact.street|capitalize }}</strong> street in <strong>{{ contact.city|capitalize }}</strong>.
			    <br><br>

                <b>Costumes only for kids</b>
                <br><br>

			    We have costumes for kids from few month age to 12 years old. Most of collection is licensed brand costumes like 
                <strong>Cinderella, Batman, Superman, Starwars</strong>.
            </div>
        </div>
    </div>
{% endblock %}