{% extends 'base.html.twig' %}

{% block body %}
    <div id = "content">
        <div class="home">
            <br><br><br><br><br><br>
            <br>{{ message }}<br>
            <h1>Witam wszystkich odwiedzających stronę!</h1>
									<br/><br/>
							Serdecznie zapraszamy do wypożyczania markowych strojów, starannie wybieranych na podstawie aktualnych trendów.
									<br/><br/>
							Posiadamy szeroką gamę strojów. W naszej ofercie znajdują się stroje głownie na karnawał oraz jasełka. Przy odrobinie chęci każdy znajdzie coś dla siebie.
									<br/><br/>
							Najmniejsze stroje są dla dzieci z przedziału wiekowego 3-6 miesięcy.
									<br/><br/>
							Największe do 12 lat.
								
									<br/><br/><br/><br/>
					
							<strong>Nie prowadzimy wypożyczeń on-line.</strong>
													<br/><br/>
							<strong>Stroje tylko dla dzieci.</strong>
													<br/><br/>
							<strong>Zachęcam do kontaktu telefonicznego!</strong>
											
									<br/><br/>
        </div>
    </div>
{% endblock %}