{% extends 'base.html.twig' %}

{% block body %}
    <div id = "content">
        <div class="home">
            <h2>{{ "Witam!"|trans }}</h2>
			<br><br>
            <div class="desc">
                <div class='warning'>
                    <img src="img/icon-warning.png"/>
                    <span><b>To online rental service</b></span>
                </div>
                <br><br>

                Carnival Rental at <strong>{{ contact.street|capitalize }}</strong> street in <strong>{{ contact.city|capitalize }}</strong>.
			    <br><br>

                <div class='warning'>
                    <img src="img/icon-warning.png"/>
                    <span><b> Costumes only for kids</b></span>
                </div>
                <br><br>

			    We have wide age range kids costumes. From few month to 12 years old. Most of collection is licensed brand costumes like:  
                <strong>Cinderella, Batman, Superman, Starwars</strong>.
            </div>
        </div>
    </div>
{% endblock %}