{% extends 'base.html.twig' %}

{% block body %}
    <div id = "content">
        <div class="home">
            <h2>Witaj!</h2>
			<br><br>
            <div class="about">
                <h4>O Wypożyczalni</h4>

                <span>Wypożyczalnia od ponad 10 lat nieustanie zapewnia możliwość wcielenia się w ulubioną postać. Posiadamy setki strojów dzięki czemu każde dziecko może znaleźć coś dla siebie na każdą okazje.</span>
                <br><br>
            </div>

            <div class="desc">
                <div class='warning'>
                    <img src="/img/icon-warning.png"/>
                    <span><b>Wypożyczenie podlega Regulaminowi</b></span>
                </div>
                <br>
                <div class='warning'>
                    <img src="/img/icon-warning.png"/>
                    <span><b>Nie prowadzimy wypożyczeń online</b></span>
                </div>
                <br>

                <span>Zapraszamy do wizyty bezpośrednio na miejscu.</span>
                <br>
                <span>Wypożyczalnia strojów znajduje się przy ulicy <strong>{{ contact.street|capitalize }}</strong> w mieście <strong>{{ contact.city|capitalize }}</strong>.</span>
                <br>
                <span>Po więcej informacji wejdź w sekcje <b>Kontakt</b> na pasku nawigacyjnym.</span> 
			    <br><br><br>

                <div class='warning'>
                    <img src="/img/icon-warning.png"/>
                    <span><b>Kostiumy tylko dla dzieci</b></span>
                </div>
                <br>
			    <span>Wypożyczalnia wyposażona jest w szeroką gamę strojów dziecięcych.</span>
                <br>
                <span>Od małych strojów dla kilkumiesięcznych dzieci po większe stroje dla 12 latków.</span>
                <br>
                <span>Większość kolekcji to licencjonowane markowe stroje.</span>
                <br>
                <span>Znajdziesz tutaj stroje z takich bajek i filmów jak:</span>
                
                <ul>
                    <li>Kopciuszek</li>
                    <li>Królewna Śnieżka</li>
                    <li>Batman</li>
                    <li>Superman</li>
                    <li>Starwars</li>
                    <b>i wiele wiele więcej</b>.
                </ul>
                <span>W sekcji <b>Galeria</b> znajdują się zdjęcia poglądowe kilku strojów.</span>
            </div>
        </div>
    </div>
{% endblock %}