{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
    
        <br><br><br><br><br><br>
        <br><br>			
		<h2>Pricing</h2>
        
        <div class="desc">

            Price range is between {{ pricing.getMinPrice }} pln in minimal and {{ pricing.getMaxPrice }} pln in maximal.

			<br/><br/>
			* Akcesoria do stroju są już wliczone w cene. Również podlegają regulaminowi.
        </div>
    </div>
{% endblock %}