
{% block body %}
    <turbo-frame id="pricing_frame">
        <div class="pricing">
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br>\pricing<br>
        </div>
    </turbno-frame>
{% endblock %}