{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="pricing">
            <br><br><br><br><br><br>
            <br>{{ message }}<br>
					
					<h1>Cennik</h1>
							
						Koszt wypożyczenia wacha się w przedziale od 25 do 35 złotych, w zależności od stroju.
								<br/><br/>
						Wszelkie akcesoria są już wliczone w cenę wypożyczenia stroju.
								<br/><br/><br/><br/>
						<strong>Akcesoria również podlegają regulaminowi.</strong>
        </div>
    </div>
{% endblock %}