{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="statute">
            <br><br><br><br><br><br>
            <br>{{ message }}<br>
						
			<h2>Statute</h2>
					
			<ul>
				<li>Stroje można zawsze wcześniej zarezerwować-kaucja 10zł,</li>
				<li>Strój wypożycza się dzień przed imprezą,</li>
				<li>Strój oddaje się w następnym dniu roboczym po imprezie,</li>
				<li>Stan stroju musi odpowiadać sprzed wypożyczenia,</li>
			</ul> 
        </div>
    </div>
{% endblock %}