{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
		<h2>Regulamin usługi wypożyczenia</h2>
		<br>
		<ul>
			<li>Warunkiem wypożyczenia stroju jest okazanie dokumentu potwierdzającego tożsamość.</li>
			<li>Wypożyczalnia <b>nie</b> zatrzymuje dokumentów jak również <b>nie</b> wykonuje skanów ani kopii.</li>
			<li>Rezerwacja stroju jest możliwa tylko po wpłacie kaucji.</li>
			<li>Strój wypożycza się dzień przed imprezą.</li>
			<li>Strój musi zostać zwrócony w czasie nie dłuższym niż dwie doby od chwili wypożyczenia.</li>
			<li>Strój wraz z rekwizytami musi zostać zwrócony w komplecie.</li>
			<li>Stroj i rekwizyty muszą zostać zwrócone w stanie nienaruszonym.</li>
			<li>Wypożyczający ponosi odpowiedzialność za wypożyczony strój od momentu wypożyczenia aż do chwili zwrotu.</li>
			<li>W przypadku zniszczenia, uszkodzenia, zgubienia wypożyczający jest zobowiązany do pokrycia kosztów ustalonych przez wypożyczalnie na podstawie dokonanych szkód.</li>
			<li>Kategorycznie zabrania się przerabiania strojów. Dokonanie jakiejkolwiek przeróbki jest równoznaczne ze zniszczeniem stroju.</li>
			<li>Nie przyjmujemy rezerwacji sms, mail.</li>
			<li>W momencie braku odbioru stroju w umówionym terminie, kaucji nie zwracamy.</li>
			<li>Wypożyczalnia nie udostępnia żadnemu podmiotu danych osobowych Wypożyczających.</li>
			<li>Wypożyczającemu nie wolno wejść w stosunek podnajmu kostiumu z nieupoważnioną osobą trzecią.</li>
			<li>Wypożyczalnia uprawiona jest do dochodzenia od Wypożyczającego wszystkich roszczeń związanych z usługą wypożyczenia kostiumu. W przypadku zaistnienia sporów będą one rozstrzygane przez sąd.</li>
		</ul>

        <div class='warning'>
            <img src="/img/icon-warning.png"/>
            <span><b>Kaucja dla każdego stroju wynosi {{ pricing.getDeposit }} zł</b></span>
        </div>
    </div>
{% endblock %}