
{% block body %}
    <turbo-frame id="statute_frame">
        <div class="statute">
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br>
            <br>\statute<br>
        </div>
    </turbno-frame>
{% endblock %}