<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome{% endblock %}</title>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
        </style>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body{{ stimulus_controller('symfony/ux-swup/swup', { containers: ['#swup', '#nav'] }) }}>
        <nav id="nav">
            <div id="logo">
                <span class="text1"> Wypożyczalnia </span>
                <img src="img/crown.png" />
                <br/> 
                <span class="text2"> Stroje Karnawałowe-Kłodzko </span>
                </div>
                        
            <div id="menu">
                <a id="link" href="/home"><div class="option"> Home </div></a>
                <a id="link" href="/statute"><div class="option"> Statute </div></a>
                <a id="link" href="/gallery"><div class="option"> Gallery </div></a>
                <a id="link" href="/pricing"><div class="option"> Pricing </div></a>
                <a id="link" href="/contact"><div class="option"> Contact </div></a>
                <div style="clear:both" ></div>
            </div>
        </nav>
        <main id="swup">

        </main>
        {% block body %}{% endblock %}
    </body>
</html>
