<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="nav">
                
                <div id="logo">
                
                    <span class="text1"> WYPOŻYCZALNIA </span>
                    <img src="img/crown.png" />
                    <br/> 
                    <span class="text2"> Stroje Karnawałowe-Kłodzko </span>
                    
                </div>
                
                <div id="menu">
                
                    <a id="link1" href="#"> <div class="option"> Strona Główna</div></a>
                    <a id="link2" href="#"><div class="option"> Regulamin </div></a>
                    <a id="link3" href="#"><div class="option"> Galeria </div></a>
                    <a id="link4" href="#"><div class="option"> Cennik </div></a>
                    <a id="link5" href="#"><div class="option"> Kontakt </div></a>
                    <div style="clear:both" > </div>
                </div>
                
            </nav>

        {% block body %}{% endblock %}
    </body>
</html>
