{% block body %}
    <div class="dashboard-nav">
            <span class="title-section"><a class='dashboard' href='/dashboard'>Dashboard</a></span>              
        <div class="dashboard-menu">
            <a class="dashboard-link" href="/dashboard/visits"><div class="dashboard-option"> Visits </div></a>
            <a class="dashboard-link" href="/dashboard/pricing"><div class="dashboard-option"> Pricing </div></a>
            <a class="dashboard-link" href="/dashboard/contact"><div class="dashboard-option"> Contact </div></a>
            <a class="dashboard-link" href="/dashboard/gallery"><div class="dashboard-option"> Gallery </div></a>
            <div style="clear:both"></div>
        </div>
    </div>
{% endblock %}