{% block body %}
    <nav class='dashboard-navbar'>
        <div id="logo">
            <span class="text1"> Dashboard</span>
            <img src="img/crown.png" />
        </div>              
        <div id="menu">
            <a id="link" href="/dashboard/visits"><div class="option"> Visits </div></a>
            <a id="link" href="/dashboard/pricing"><div class="option"> Pricing </div></a>
            <a id="link" href="/dashboard/contact"><div class="option"> Contact </div></a>
            <a id="link" href="/dashboard/gallery"><div class="option"> Gallery </div></a>
            <div style="clear:both" ></div>
        </div>
    </nav>
{% endblock %}