{% block nav %}
    <nav>
        <div id="logo">
            <span class="text1"> Wypożyczalnia </span>
            <img src="/img/crown-icon.png"/>
            <br> 
            <span class="text2"> Strojów Karnawałowych</span>
            </div>
                            
        <div id="menu">
            <a id="link" href="/pl/home"><div class="option"> Główna </div></a>
            <a id="link" href="/pl/statute"><div class="option"> Regulamin </div></a>
            <a id="link" href="/pl/gallery"><div class="option"> Galeria </div></a>
            <a id="link" href="/pl/pricing"><div class="option"> Cennik </div></a>
            <a id="link" href="/pl/contact"><div class="option"> Kontakt </div></a>
            {% if  not admin is null %}
            <a id="link" href="/dashboard"><div class="option"> Dashboard </div></a>
            {% endif %}
            <div style="clear:both" ></div>
        </div>

    </nav>
{% endblock %}