{% block body %}
<table class='days-open-hours'>
    <tr>
        <th>Dzień tygodnia</th>
        <th>Otwarte w godzinach</th>
    </tr>
    {% for openHours in daysOpenHours %}
        <tr>
            <th> {{ openHours.getDayPolishStringType()|capitalize }} </th>
            {% if openHours.isClosed() == false %}
            <th> {{ openHours.getStringStartDate() }} - {{ openHours.getStringEndDate() }}</th>
            {% else %}
            <th> Zamknięte </th>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock body %}