{% extends 'base.html.twig' %}

{% block body %}
    <div id='content'>
        {{ include('dashboard_navbar.html.twig') }}
        <div class="section">
            <h2>Dashboard</h2>
            <span>You logged in, {{ admin.getUsername|capitalize }}</span>
            <br>
            <span>Enter an interesting section at dashbord bar.</span>
            <br>
        </div>
    </div>
{% endblock %}