{% extends 'base.html.twig' %}

{% block body %}
    <div id='content'>
        <br><br><br><br><br><br>
        {{ include('dashboard_navbar.html.twig') }}
        <div class="dashboard">
            <h2>Dashboard</h2>
            <span>{{ admin.getUsername|capitalize }}</span>
            <br>
        </div>
    </div>
{% endblock %}