{% extends 'base.html.twig' %}

{% block body %}
    <div id='content'>
        {{ include('dashboard_navbar.html.twig') }}
        <br>
        <h3>Dashboard</h3>
        <br>
        <div class="dash">
            <span>You logged in, {{ admin.getUsername|capitalize }}</span>
            <br><br>
            <span>Go to section you are interested in at the dashboard bar.</span>
            <br><br>
            <button class="btn btn-primary" type="submit">
                <a href="{{ path('app_logout') }}">Logout</a>
            </button>
        </div>
    </div>
{% endblock %}